# Виртуальные окружения Python
venv/
.venv/
env/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Система контроля версий
.git/
.gitignore

# Локальные настройки и логи
.env
*.log

# Папка с данными (она всё равно монтируется через volume в podman-compose.yml)
data/