#!version:1.0.0.1
##File header "#!version:1.0.0.1" can not be edited or deleted.##

#######################################################################################
##                           Firmware Update                                         ##
#######################################################################################
{% if config.get('model_firmware_url') %}
firmware.url = {{ config.model_firmware_url }}
{% endif %}

#######################################################################################
##                           802.1x Authentication                                   ##
#######################################################################################
{% if config.get('model_802_1x_enable') %}
static.network.802_1x.identity = {{ config.model_802_1x_identity }}
static.network.802_1x.mode = {{ config.model_802_1x_mode }}
static.network.802_1x.md5_password = ""
features.network.8021x_upload.mode = {{ config.get('model_802_1x_upload_mode', 0) }}
{% if config.get('model_802_1x_root_cert_url') %}
static.network.802_1x.root_cert_url = {{ config.model_802_1x_root_cert_url }}
{% endif %}
{% if config.get('model_802_1x_client_cert_url') %}
static.network.802_1x.client_cert_url = {{ config.model_802_1x_client_cert_url }}
{% endif %}
{% endif %}

#######################################################################################
##                        Model-Specific Settings                                    ##
#######################################################################################
{% for key, value in config.get('model_specific_settings', {}).items() %}
{{ key }} = {{ value }}
{% endfor %}