#!version:1.0.0.1
##File header "#!version:1.0.0.1" can not be edited or deleted.##

#######################################################################################
##                        GLOBAL SETTINGS                                            ##
#######################################################################################
{% for key, value in config.global.items() %}
{%- if value is not none and not key.startswith('action_url.') -%}
{{ key }} = {{ value }}
{% endif %}
{%- endfor %}

#######################################################################################
##                        Action URL Configuration                                   ##
#######################################################################################
action_url.enable = {{ 1 if config.global.get('action_url.enable') else 0 }}
action_url.limit_ip = {{ config.global.get('action_url.limit_ip', '10.30.30.30') }}
action_url.registered = {{ config.global.get('action_url.registered', '') | safe }}
action_url.unregistered = {{ config.global.get('action_url.unregistered', '') | safe }}
action_url.registration_failed = {{ config.global.get('action_url.registration_failed', '') | safe }}
action_url.off_hook = {{ config.global.get('action_url.off_hook', '') | safe }}
action_url.on_hook = {{ config.global.get('action_url.on_hook', '') | safe }}
action_url.incoming_call = {{ config.global.get('action_url.incoming_call', '') | safe }}
action_url.outgoing_call = {{ config.global.get('action_url.outgoing_call', '') | safe }}
action_url.call_established = {{ config.global.get('action_url.call_established', '') | safe }}
action_url.call_missed = {{ config.global.get('action_url.call_missed', '') | safe }}
action_url.dnd_on = {{ config.global.get('action_url.dnd_on', '') | safe }}
action_url.dnd_off = {{ config.global.get('action_url.dnd_off', '') | safe }}
action_url.setup_complete = {{ config.global.get('action_url.setup_complete', '') | safe }}

